.home {
  .dragon-list {
    min-height: 10vh;
    margin-bottom: 20px;
    width: 100%;
  }
  .dragon-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    + .dragon-item {
      border-top: 1px solid rgba(white, 0.6);
    }
  }
  .dragon-name {
    color: white;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
  .dragon-actions {
    padding: 5px 0px 5px 10px;
    white-space: nowrap;
  }
  .loading-message {
    padding: 20px;
    text-align: center;
  }
}
