input,
.form-button {
  transition: box-shadow 100ms ease-in-out;
  &:focus {
    box-shadow: 0px 0px 4px 0px rgba(110, 0, 230, 1);
    outline: 0;
  }
}
input {
  &[type='text'],
  &[type='password'] {
    @include font-bold();
    border: 1px solid $main-color;
    border-radius: 25px;
    color: $main-color;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 2.9rem;
    padding: 0 25px;
    width: 100%;
    &::placeholder {
      color: rgba($main-color, 0.4);
    }
  }
}
.form-button {
  background-color: $main-color;
  border: 0;
  border-radius: 30px;
  display: block;
  height: 48px;
  padding: 10px 30px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  max-width: 250px;
  margin-left: auto;
}
